.ca-portfolio_card{
    width: calc(33.33% - 35px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    min-width: 350px;
    min-height: 350px;
    transform-origin: center;
    transition: 0.3s ease-in-out;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    &:hover{
        transform: scale(1.08);
        transition: 0.3s ease-in-out;
    }
    &__text{
        text-align: start;
        padding: 30px;
    }
}

@include mobile{
    .ca-portfolio_card{
        min-width: unset;
        min-height: 300px;
        max-height: 350px;
        width: calc(100% - 40px);
        margin:10px;
        &__text{
            padding: 20px;
        }
    }
}

@include mobile-tablet{
    .ca-portfolio_card{
        width: calc(100% - 40px);
        margin:15px 10px;
        &__text{
            padding: 20px;
        }
    }
}