.ca-heading {
  font-family: $font-nunito;
  font-size: 43px;
  font-weight: $font-bold;
  line-height: 1.2;
  color: var(--clr-main-text);
}

.ca-subheading {
  font-size: 22px;
  line-height: 1.3;
  font-weight: $font-semi-bold;
  color: var(--clr-primary);
}

@include mobile-tablet {
  .ca-heading {
    font-size: 35px;
  }

  .ca-subheading {
    font-size: 20px;
  }
}

@include mobile {
  .ca-heading {
    font-size: 30px;
  }

  .ca-subheading {
    font-size: 18px;
  }
}
